<h1>Daniel's Final Project</h1>
<p class='subheader'>Milestone 3. Go ahead and <a href="/signup">create an account</a> to make a trade!</p>

<div class="container">
    {{#if trade}}
    <p>Trades found:</p>
    <ul>
        {{#each trade}}
        <li><a href="/trades/{{slug}}">{{ticker}} • {{action}} • {{formatDateTime time}}</a></li>
        {{/each}}
    </ul>
    {{else}}
    <p>No records found. Submit one!</p>
    {{/if}}
</div>
